<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MC.Dao.MCMapper">

	<select id="SearchDDessert" resultType="DessertVO"
		parameterType="String">
		SELECT
		*
		FROM
		dessert
		WHERE
		dessert_name like '%'
		||#{dessert_name}|| '%'
		ORDER BY
		dessert_name
	</select>

	<select id="SearchDrink" resultType="DrinkVO"
		parameterType="String">
		SELECT
		*
		FROM
		drink
		WHERE
		drink_name like '%'
		||#{drink_name}|| '%'
		ORDER BY
		drink_name
	</select>

	<select id="SearchHamburger" resultType="HamburgerVO"
		parameterType="String">
		SELECT
		*
		FROM
		hamburger
		WHERE
		hamburger_name like '%'
		||#{hamburger_name}|| '%'
		ORDER BY
		hamburger_name
	</select>


	<select id="SearchSnacksAndSide" resultType="SnacksAndSideVO"
		parameterType="String">
		SELECT
		*
		FROM
		snacksandside
		WHERE
		snacksandside_name like '%'
		||#{snacksandside_name}|| '%'
		ORDER BY
		snacksandside_name
	</select>

	<select id="getHamburger" resultType="HamburgerVO">
		SELECt
		*
		FROM
		hamburger
		ORDER
		BY
		hamburger_name
	</select>

	<select id="getMSnaksandSides" resultType="SnacksAndSideVO">
		SELECT
		*
		FROM
		snacksandside
		WHERE
		ssize = 2 and price != 0
		ORDER BY
		snacksandside_name
	</select>

	<select id="getLSnaksandSides" resultType="SnacksAndSideVO">
		SELECT
		*
		FROM
		snacksandside
		WHERE
		ssize = 3 and price != 0
		ORDER BY
		snacksandside_name
	</select>

	<select id="getSnaksandSides" resultType="SnacksAndSideVO">
		SELECT
		*
		FROM
		snacksandside
		WHERE
		price != 0
		ORDER BY
		snacksandside_name
	</select>

	<select id="getSDrink" resultType="DrinkVO">
		SELECT
		*
		FROM
		drink
		WHERE
		ssize = 1
		and price != 0
		ORDER BY
		drink_name
	</select>

	<select id="getMDrink" resultType="DrinkVO">
		SELECT
		*
		FROM
		drink
		WHERE
		ssize = 2
		and price != 0
		ORDER BY
		drink_name
	</select>

	<select id="getLDrink" resultType="DrinkVO">
		SELECT
		*
		FROM
		drink
		WHERE
		ssize = 3
		and price != 0
		ORDER BY
		drink_name
	</select>

	<select id="getDrink" resultType="DrinkVO">
		SELECT
		*
		FROM
		drink
		WHERE
		price != 0
		ORDER BY
		drink_name
	</select>

	<select id="getSauce" resultType="SauceVO">
		SELECT
		*
		FROM
		sauce
		ORDER BY
		sauce_name
	</select>

	<select id="getDessert" resultType="DessertVO">
		SELECT
		*
		FROM
		dessert
		ORDER BY
		dessert_name
	</select>

	<insert id="SaveOrder" parameterType="KioskVO">
		INSERT INTO kiosk
		VALUES
		(kiosk_seq.nextval,#{iosk_bill})
	</insert>

	<insert id="HamburgerAdd" parameterType="HamburgerVO">
		INSERT INTO hamburger
		(hamburger_name,price,setprice,ssize)
		VALUES
		(#{hamburger_name},#{price},#{setprice},#{ssize})
	</insert>

	<insert id="DessertAdd" parameterType="DessertVO">
		INSERT INTO dessert
		(dessert_name,price,setprice,ssize)
		VALUES
		(#{dessert_name},#{price},#{setprice},#{ssize})
	</insert>

	<insert id="SnacksAndSideAdd" parameterType="SnacksAndSideVO">
		INSERT INTO
		SnacksAndSidet
		(SnacksAndSide_name,price,setprice,ssize)
		VALUES
		(#{SnacksAndSide_name},#{price},#{setprice},#{ssize})
	</insert>

	<insert id="DrinkAdd" parameterType="DrinkVO">
		INSERT INTO Drink
		(Drink_name,price,setprice,ssize)
		VALUES
		(#{Drink_name},#{price},#{setprice},#{ssize})
	</insert>

	<insert id="SauceAdd" parameterType="SauceVO">
		INSERT INTO Sauce
		(Sauce_name,price,setprice,ssize)
		VALUES
		(#{Sauce_name},#{price},#{setprice},#{ssize})
	</insert>

	<update id="HamburgerUpdate" parameterType="HamburgerVO">
		UPDATE
		hamburger
		SET
		price = #{price},
		setprice = #{setprice],
		popularity = #{popularity},
		reorder = #{reorder}
		WHERE
		hamburger_name = #{hamburger_name}
	</update>

	<update id="DessertUpdate" parameterType="DessertVO">
		UPDATE
		dessert
		SET
		price =
		#{price},
		setprice = #{setprice],
		popularity = #{popularity},
		reorder =
		#{reorder}
		WHERE
		dessert_name = #{dessert_name}
	</update>

	<update id="SnacksAndSideUpdate" parameterType="SnacksAndSideVO">
		UPDATE
		SnacksAndSide
		SET
		price = #{price},
		setprice = #{setprice],
		popularity =
		#{popularity},
		reorder = #{reorder}
		WHERE
		SnacksAndSide_name =
		#{SnacksAndSide_name}
	</update>


	<update id="DrinkUpdate" parameterType="DrinkVO">
		UPDATE
		Drink
		SET
		price = #{price},
		setprice = #{setprice],
		popularity =
		#{popularity},
		reorder = #{reorder}
		WHERE
		Drink_name = #{Drink_name}
	</update>

	<update id="SauceUpdate" parameterType="SauceVO">
		UPDATE
		Sauce
		SET
		price = #{price},
		setprice = #{setprice],
		popularity =
		#{popularity},
		reorder = #{reorder}
		WHERE
		Sauce_name = #{Sauce_name}
	</update>

	<delete id="HamburgerDelete" parameterType="String">
	DELETE
		hamburger
	WHERE
		hamburger_name = #{hamburger_name}
	</delete>

	<delete id="DessertDelete" parameterType="String">
	DELETE
		Dessert
	WHERE
		Dessert_name = #{Dessert_name}
	</delete>

	<delete id="SnacksAndSideDelete" parameterType="String">
	DELETE
		SnacksAndSide
	WHERE
		SnacksAndSide_name = #{SnacksAndSide_name}
	</delete>

	<delete id="DrinkDelete" parameterType="String">
	DELETE
		Drink
	WHERE
		Drink_name = #{Drink_name}
	</delete>

	<delete id="SauceDeletee" parameterType="String">
	DELETE
		Sauce
	WHERE
		Saucename = #{Sauce_name}
	</delete>
</mapper>
