<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MC.Dao.MCMapper.java">





	<!--/////////////////////////////////////////검색///////////////////////////////////// -->
	<!-- 디저트 -->
	<select id="SearchDDessert" resultType="DessertVO"
		parameterType="String">
		SELECT
		*
		FROM
		dessert
		WHERE
		dessert_name like '%' ||#{dessert_name}|| '%'
		ORDER BY
		dessert_name
	</select>

	<!-- 음료 -->
	<select id="SearchDrink" resultType="DrinkVO"
		parameterType="String">
		SELECT
		*
		FROM
		drink
		WHERE
		drink_name like '%' ||#{drink_name}|| '%'
		ORDER BY
		drink_name
	</select>

	<!-- 햄버거 -->
	<select id="SearchHamburger" resultType="HamburgerVO"
		parameterType="String">
		SELECT
		*
		FROM
		hamburger
		WHERE
		hamburger_name like '%' ||#{hamburger_name}|| '%'
		ORDER BY
		hamburger_name
	</select>

	<!-- 스낵앤사이드 -->
	<select id="SearchSnacksAndSide" resultType="SnacksAndSideVO"
		parameterType="String">
		select
		*
		from
		snacksandside
		where
		snacksandside_name like '%' ||#{snacksandside_name}|| '%'
		order by
		snacksandside_name
	</select>


	<!--/////////////////////////////////////////조회///////////////////////////////////// -->
	<!-- 햄버거 -->
	<select id="getHamburger" resultType="HamburgerVO">
		select
		*
		from
		hamburger
		order by
		hamburger_name
	</select>

	<!-- 스낵앤사이드 -->
	<select id="getMSnaksandSides" resultType="SnacksAndSideVO">
		SELECT
		*
		FROM
		snacksandside
		WHERE
		ssize = 2
		ORDER BY
		snacksandside_name
	</select>


	<select id="getLSnaksandSides" resultType="SnacksAndSideVO">
		SELECT
		*
		FROM
		snacksandside
		WHERE
		ssize = 3
		ORDER BY
		snacksandside_name
	</select>


	<!-- 음료 -->
	<select id="getSDrink" resultType="DrinkVO">
		SELECT
		*
		FROM
		drink
		WHERE
		ssize = 1
		ORDER BY
		drink_name
	</select>


	<select id="getMDrink" resultType="DrinkVO">
		SELECT
		*
		FROM
		drink
		WHERE
		ssize = 2
		ORDER BY
		drink_name
	</select>


	<select id="getLDrink" resultType="DrinkVO">
		SELECT
		*
		FROM
		drink
		WHERE
		ssize = 3
		ORDER BY
		drink_name
	</select>


	<!-- 소스 -->
	<select id="getSauce" resultType="SauceVO">
		SELECT
		*
		FROM
		sauce
		ORDER BY
		sauce_name
	</select>

	<!-- 디저트 -->
	<select id="getDessert" resultType="DessertVO">
		SELECT
		*
		FROM
		dessert
		ORDER BY
		dessert_name
	</select>
</mapper>
